<html>
    <head>
        <title>Course Advisor</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script>
            if (Modernizr.draganddrop) {
             // Browser supports HTML5 DnD.
            } else {
            // Fallback to a library solution.
            }
        </script>
    </head>
    <body>
        <div class="row">
            <div class="column green-background" draggable="true">
                <h2>Tee times</h2>
            </div>
            <div class="column blue-background" draggable="true">
                <h2>Groups</h2>
                <div class="item-list block"></div>
                <div class="item-list block"></div>
                <div class="item-list block"></div>
                <div class="item-list block"></div>
            </div>
            <div class="column red-background" draggable="true">
                <h2>Checked in</h2>
                <div class="item-list block" draggable="true">Rick Sorken</div>
                <div class="item-list block" draggable="true">Man Guy</div>
                <div class="item-list block" draggable="true">Nick Tating</div>
                <div class="item-list block" draggable="true">Daniel Ojeda</div>
            </div>
        </div>
    </body>
</html>